body {
    font-family: 'Roboto', sans-serif;
    background-color: #282b30;
    color: #99aab5;
}

.container {
    display: flex;
    align-items: flex-start;
}

h1, h2, h3, h4 {
    margin-top: 20px;
}

#header-1 {
    color: #3248db;
}

#header-2 {
    color: #329ddb;
}

#header-3 {
    color: #7289da;
    font-style:italic;
}

#header-4 {
    color: #2E8B57;
    font-style:italic;
}

p.lead {
    margin-top: 40px;
}

.profile-image {
    width: 256px;
    height: 256px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #329ddb;
}

/* Navbar styles */
.navbar {
    background-color: #36393e !important;
}

.navbar .nav-link,
.navbar .navbar-brand {
    color: #99aab5 !important;
}

.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
    color: #f0f0f0;
}

.lead {
    color: #99aab5;
}

.button-class {
    margin-bottom: 40px;
    background-color: #6439FF;
}

/*------- SKILLS section begins here -------*/
.skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.skill-card {
    flex: 1;
    margin: 0 10px;
    background-color: #329ddb !important;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    height: 340px; /* TODO: If adding more skills may need to adjust. probably need a dynamic solution*/
    margin-bottom: 20px;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}

.skill-card h3, .skill-card h4 {
    color: #ffffff;
    text-align: center;
}

.skill-card h4 {
    margin-top: 15px;
}

.tech-icons {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.tech-icon:hover {
    transform: scale(1.1);
}

.tech-link {
    position: relative;
    text-decoration: none;
}

.tech-link:hover .tech-icon {
    cursor: pointer;
}

.tech-icons li {
    margin: 10px;
}

.tech-icons img {
    width: 40px;
    height: 40px;
}

.icon-circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #282b30;
    border-radius: 50%;
    overflow: hidden;
}

.tech-icon {
    width: 70%;
    height: auto;
}


/*------- connect section begins here -------*/

.connect-section {
    background-color: #6439FF;
    padding: 20px 0;
    color: #99aab5;
    width: 100%;
    position: relative;
    left: 0;
    margin-bottom: 40px;
}

.connect-section h2 {
    margin-bottom: 20px;
    color: #99aab5;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icon-link {
    text-decoration: none;
}

.icon {
    width: 40px;
    height: auto;
    transition: transform 0.2s;
}

.icon:hover {
    transform: scale(1.1);
}

