<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Fonts - Roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/index.css" rel="stylesheet">
    <link href="/static/css/about.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Alexander Fielding</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/experience">Experience</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>-->
                </ul>
            </div>
        </div>
    </nav>

    <div class="hero-image">
        <div class="hero-text">
            <h1>I am Alexander Fielding</h1>
            <p>And I'm a Software Architect</p>
        </div>
    </div>
    
    <div class="container mt-4">
        <p class="lead">
            I am a husband, a tech enthusiast, an amateur woodworker, and a hobbyist who can't seem to just pick a lane.
        </p>
    </div>

    <div id="gallery" class="gallery-container">
        <button class="arrow" id="prev" onclick="changeImage(-1)">&#10094;</button>
        <img id="currentImage" class="modal-content" style="display: none;">
        <button class="arrow" id="next" onclick="changeImage(1)">&#10095;</button>
    </div>
    

    <!-- Bootstrap JS (Bundle includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Custom JavaScript -->
    <script src="/static/js/script.js"></script> <!-- Link to your external script -->
</body>
</html>
