<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Fonts - Roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/index.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Alexander Fielding</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/experience">Experience</a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>-->
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5 d-flex align-items-start">
        <img src="/resources/profile.jpg" alt="Smiley face" class="profile-image me-4">
        <div>
            <h1 class="display-4" id="header-1">Alexander Fielding</h1>
            <h2 id="header-2">Software Architect DevOps CI/CD</h2>
            <h3 id="header-3">Building your infrastructure and tools, brick by brick.</h3>
            <h4 id="header-4">San Luis Obispo, CA</h4>
        </div>
    </div>

    <div class="container mt-4">
        <p class="lead">{{ .description }}</p>
    </div>

    <div class="container mt-3 d-flex justify-content-center">
        <div class="button-group">
            <a href="/resources/ResumeAFie.pdf" class="btn custom-btn" download="resumeAFielding">Download Resume</a>
            <a href="https://buymeacoffee.com/alecfielding" class="btn custom-btn">
                <span>Buy me a coffee</span>
                <img src="/resources/contact/buymecoffee.png" alt="Coffee icon" class="button-icon">
            </a>
        </div>
    </div>

    <!-- If adding more items to this section you may need to increase card size in index.css skill section -->
    <div class="skill-container">
        <!-- Implementation Section -->
        <div class="skill-card">
            <h3>Implementation</h3>
            <p>I love discovering new technologies and carving the path for innovative solutions in development and programming.</p>
            <h4>Programming Toolbox:</h4>
            <ul class="tech-icons">
                <li>
                    <a href="https://learn.microsoft.com/en-us/dotnet/csharp/" target="_blank" class="tech-link">
                        <img src="/resources/icons/c-sharp.png" alt="C#" class="tech-icon" title="C Sharp">
                    </a>
                </li>
                <li>
                    <a href="https://docs.python.org/3/" target="_blank" class="tech-link">
                        <img src="/resources/icons/python.png" alt="Python" class="tech-icon" title="Python">
                    </a>
                </li>
                <li>
                    <a href="https://docs.oracle.com/en/java/" target="_blank" class="tech-link">
                        <img src="/resources/icons/java.png" alt="Java" class="tech-icon" title="Java">
                    </a>
                </li>
                <li>
                    <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" class="tech-link">
                        <img src="/resources/icons/javascript.png" alt="JS" class="tech-icon" title="javascript">
                </li>
                <li>
                    <a href="https://github.com/hashicorp/hcl" target="_blank" class="tech-link">
                        <img src="/resources/icons/hcl.png" alt="HCL" class="tech-icon" title="HCL">
                    </a>
                </li>
                <li>
                    <a href="https://golang.org/doc/" target="_blank" class="tech-link">
                        <div class="icon-circle">
                            <img src="/resources/icons/golang.png" alt="Golang" class="tech-icon" title="Golang">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://reactjs.org/docs/getting-started.html" target="_blank" class="tech-link">
                        <img src="/resources/icons/react.png" alt="React" class="tech-icon" title="React">
                    </a>
                </li>
                <li>
                    <a href="https://www.djangoproject.com/start/" target="_blank" class="tech-link">
                        <img src="/resources/icons/django.png" alt="Django" class="tech-icon" title="Django">
                    </a>
                </li>
            </ul>
        </div>

        <!-- DevOps Section -->
        <div class="skill-card">
            <h3>DevOps</h3>
            <p>I excel at managing end-to-end delivery processes with a focus on smooth continuous integration, delivery, and automation.</p>
            <h4>The tools I love:</h4>
            <ul class="tech-icons">
                <li>
                    <a href="https://docs.ansible.com/" target="_blank" class="tech-link">
                        <img src="/resources/icons/ansible.png" alt="Ansible" class="tech-icon" title="Ansible">
                    </a>
                </li>
                <li>
                    <a href="https://www.terraform.io/docs/" target="_blank" class="tech-link">
                        <img src="/resources/icons/terraform.png" alt="Terraform" class="tech-icon" title="Terraform">
                    </a>
                </li>
                <li>
                    <a href="https://www.jenkins.io/doc/" target="_blank" class="tech-link">
                        <img src="/resources/icons/jenkins.png" alt="Jenkins" class="tech-icon" title="Jenkins">
                    </a>
                </li>
                <li>
                    <a href="https://kubernetes.io/docs/" target="_blank" class="tech-link">
                        <img src="/resources/icons/k8s.png" alt="Kubernetes" class="tech-icon" title="Kubernetes">
                    </a>
                </li>
                <li>
                    <a href="https://grafana.com/docs/" title="Grafana" class="tech-link">
                        <img src="/resources/icons/grafana.png" alt="Grafana" class="tech-icon">
                    </a>
                </li>
            </ul>
            
        </div>

        <!-- Architecture Section -->
        <div class="skill-card">
            <h3>Architecture</h3>
            <p>I love leading projects from design to execution, integrating cutting-edge technologies to solve complex challenges.</p>
            <h4>The solutions I design with:</h4>
            <ul class="tech-icons">
                <li>
                    <a href="https://aws.amazon.com/documentation/" target="_blank" class="tech-link">
                        <img src="/resources/icons/aws.png" alt="AWS" class="tech-icon" title="AWS">
                    </a>
                </li>
                <li>
                    <a href="https://cloud.google.com/docs" target="_blank" class="tech-link">
                        <img src="/resources/icons/gcp.png" alt="GCP" class="tech-icon" title="Google Cloud Platform">
                    </a>
                </li>
                <li>
                    <a href="https://azure.microsoft.com/en-us/documentation/" target="_blank" class="tech-link">
                        <img src="/resources/icons/azure.png" alt="Azure" class="tech-icon" title="Azure">
                    </a>
                </li>
                <li>
                    <a href="https://www.nginx.com/resources/wiki/start/topics/tutorials/what_is_nginx/" target="_blank" class="tech-link">
                        <img src="/resources/icons/nginx.png" alt="Nginx" class="tech-icon" title="Nginx">
                    </a>
                </li>
                <li>
                    <a href="https://httpd.apache.org/docs/" target="_blank" class="tech-link">
                        <img src="/resources/icons/apache.png" alt="Apache" class="tech-icon" title="Apache">
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <div class="connect-section text-center">
        <h2>Connect With Me</h2>
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/alexander-fielding-6ab223139/" target="_blank" class="icon-link">
                <img src="/resources/contact/linkedin-icon.png" alt="LinkedIn" class="icon">
            </a>
            <a href="mailto:alec@fielding.cloud" class="icon-link">
                <img src="/resources/contact/email-icon.png" alt="Email" class="icon">
            </a>
            <a href="https://github.com/zance1054" target="_blank" class="icon-link">
                <img src="/resources/contact/github.png" alt="github" class="icon">
            </a>
            <a href="https://linktr.ee/alecfielding" class="icon-link">
                <img src="/resources/contact/linktree.png" alt="linktree" class="icon">
            </a>
        </div>
    </div>

    <!-- Bootstrap JS (Bundle includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
